---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { href, className = "", ariaLabel, title, disabled = false, ...rest } = Astro.props;
---

{
  disabled ? (
    <span
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class:list={["group inline-block hover:text-skin-accent", className]}
      aria-label={ariaLabel}
      title={title}
      {...rest}
    >
      <slot />
    </a>
  )
}
