---
import Layout from "@layouts/Base/BaseLayout.astro";
import Main from "@layouts/Main/Main.tsx";
import Header from "@components/Header/Header.tsx";
import Footer from "@components/Footer.tsx";
import Card from "@components/Card";
import Pagination from "@components/Pagination.tsx";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
  tag: string;
  tagName: string;
}

const { page, tag, tagName } = Astro.props;
---

<Layout title={`태그: ${tagName} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`#`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`#${tagName} 과 관련된 포스팅 모음`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <Card href={`/blog/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Pagination {page} />
  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
